.title {
  @apply text-lg font-semibold tracking-tight text-gray-100;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.description {
  @apply text-gray-400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.author {
  @apply text-xs text-gray-500 mb-1 italic text-end mr-3;
}

.created_at {
  @apply text-xs text-gray-500 mb-1 italic text-end mr-3;
}

.toggle {
  @apply relative z-20 text-gray-400 hover:bg-gray-700 rounded-lg text-sm p-1.5;
}

.popup_button {
  @apply w-full px-5 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white;
}

// mobile media

.mob_card_root {
  @apply relative w-full h-[240px] border border-gray-700 bg-gray-800 rounded-lg overflow-hidden flex flex-col;
}

.mob_card_root img {
  @apply object-cover max-h-[120px] w-full;
}

.mob_info_root {
  @apply px-2 flex-1 flex flex-col;
}

.mob_title {
  @apply text-base/5 font-semibold tracking-tight text-gray-100;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.mob_description {
  @apply text-sm/5 flex-shrink text-gray-400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.mob_author {
  @apply pb-1 px-2 text-xs text-end text-gray-500 font-mono;
}

.mob_overlay {
  @apply fixed top-0 left-0 w-full h-full bg-transparent z-10;
}

.mob_toggle {
  @apply inline-block absolute top-0 z-20 text-gray-400 bg-gray-700 rounded-lg text-sm p-1.5;
}