:root {
    font-family: "Noto Sans Display", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    --test-color: #37C39E;
    /*buttons*/
    --btn-color: #5D52D9;
    --btn-outline-color: #62EFBD;
    /*main vars*/
    --primary-bg: #282743;
    --sidebar-bg: #3D366A;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--primary-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        box-sizing: border-box;
    }
}

.hide-password-reveal::-ms-reveal {
    display: none;
}

.hide-password-reveal::-ms-clear {
    display: none;
}
